// brochure

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .brochure{

    &__image-container{
      position: relative;
      margin-top: 8rem;
    }
    &__card{
      width: 45%;
    }
    &__heading{
      margin: 0;
    }
    &__form{
      width: 100%;

      .form-control{
        width: 100%;
      }
    }
    &__actions{
      @include fb;
      @include fb-jc(flex-end);
      margin-top: 2.4rem;
    }
    &__image{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background: $co-bk-05 !important; // remove this when content
      width: 100%;
      height: 108.2rem;
    }
  }
