@font-face {
  font-family: 'Bembo';
  src: url("../../assets/fonts/Bembo.eot");
  src: url("../../assets/fonts/Bembo.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Bembo.woff2") format("woff2"), url("../../assets/fonts/Bembo.woff") format("woff"), url("../../assets/fonts/Bembo.ttf") format("truetype"), url("../../assets/fonts/Bembo.svg#Bembo") format("svg"); }

@font-face {
  font-family: 'Circular-Bold';
  src: url("../../assets/fonts/Circular-Bold.eot");
  src: url("../../assets/fonts/Circular-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Circular-Bold.woff2") format("woff2"), url("../../assets/fonts/Circular-Bold.woff") format("woff"), url("../../assets/fonts/Circular-Bold.ttf") format("truetype"), url("../../assets/fonts/Circular-Bold.svg#Circular-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Book';
  src: url("../../assets/fonts/Circular-Book.eot");
  src: url("../../assets/fonts/Circular-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Circular-Book.woff2") format("woff2"), url("../../assets/fonts/Circular-Book.woff") format("woff"), url("../../assets/fonts/Circular-Book.ttf") format("truetype"), url("../../assets/fonts/Circular-Book.svg#Circular-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%;
  font-family: "Circular-Book";
  font-weight: lighter; }
  @media (max-width: 768px) {
    html {
      font-size: 56.25%; } }

h1 {
  font-size: 6rem;
  line-height: 6.4rem;
  font-family: "Bembo";
  margin: 3.2rem 0; }

h2 {
  font-size: 3.4rem;
  line-height: 3.8rem;
  font-family: "Bembo";
  margin: 3.2rem 0; }

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Circular-Book";
  font-weight: lighter;
  margin: 2.4rem 0; }

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 2.4rem 0; }

.heading--accent {
  position: relative;
  padding-bottom: 1.6rem; }
  .heading--accent:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    background: #2C2C2C;
    height: 1px;
    width: 4rem; }
    @media (max-width: 768px) {
      .heading--accent:after {
        width: 4rem; } }

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 2.4rem 0;
  max-width: 53em;
  color: rgba(0, 0, 0, 0.6); }

.fs-sm {
  font-size: 1.4rem;
  line-height: 2.2rem; }

.fs-md {
  font-size: 1.6rem;
  line-height: 2.6rem; }

.fs-lg {
  font-size: 1.8rem;
  line-height: 3rem; }

.icon--sm {
  width: 1.8rem;
  height: 1.8rem; }

.brochure__image-container {
  position: relative;
  margin-top: 8rem; }

.brochure__card {
  width: 45%; }

.brochure__heading {
  margin: 0; }

.brochure__form {
  width: 100%; }
  .brochure__form .form-control {
    width: 100%; }

.brochure__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 2.4rem; }

.brochure__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: rgba(0, 0, 0, 0.05) !important;
  width: 100%;
  height: 108.2rem; }
