// input

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .form-control{
    $block: '.form-control';
    width: 100%;
    @include fb;
    @include fb-fd(column);
    margin: 0 0 1.6rem 0;

    &__content{
      background: $co-1;
      border: 1px solid $co-bk-10;
      padding: 0 2.4rem;
      height: 6rem;
      width: 100%;
    }
    &__label{
      width: 100%;
      @include fs-sm;
      margin-bottom: .8rem;
    }
    &__faux{
      height: 100%;
      width: 100%;
      position: relative;
      cursor: pointer;
      @include fb;
      @include fb-ai(center);
      @include fb-jc(flex-end);
    }
    &__input{
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: transparent;
      margin: 0;
      @include fs-md;
      cursor: pointer;

      &--input{
        cursor: default;
      }
    }
    &__icon{
    }
    &--checkbox{
      @include fb;
      @include fb-fd(row);

      #{$block}__faux{
        height: 3.2rem;
        width: 3.2rem;
        background: $co-1;
        border: 1px solid $co-bk-10;
      }
      #{$block}__input{
        position: relative;

        & + #{$block}__icon{
          display: none;
        }
        &:checked{
          & + #{$block}__icon{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            @include fb;
            @include fb-ai(center);
            @include fb-jc(center);
          }
        }
      }
      #{$block}__label{
        line-height: 3.2rem;
        margin: 0;
        padding-left: 1.6rem;
      }
    }
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
  }
