// cards
.card{
  background: $co-1;

  &--pd-sm{
    padding: 2.4rem;
  }
  &--pd-md{
    padding: 4.8rem;
  }
  &--pd-lg{
    padding: 9.6rem;
  }
}

// offset
.offset{
  z-index: 1;
  position: absolute;

  &--tl-sm{
    top: -2.4rem;
    left: -2.4rem;
  }
  &--tl-md{
    top: -4.8rem;
    left: -4.8rem;
    @include mq-md{
      top: -2.4rem;
      left: -2.4rem;
    }
  }
  &--tr-sm{
    top: -2.4rem;
    right: -2.4rem;
  }
  &--tr-md{
    top: -4.8rem;
    right: -4.8rem;
    @include mq-md{
      top: -2.4rem;
      right: -2.4rem;
    }
  }
  &--bl-sm{
    bottom: -2.4rem;
    left: -2.4rem;
  }
  &--bl-md{
    bottom: -4.8rem;
    left: -4.8rem;
    @include mq-md{
      bottom: -2.4rem;
      left: -2.4rem;
    }
    @include mq-sm{
      bottom: -1.6rem;
      left: -1.6rem;
    }
  }
}
