// flex

  // flexbox
  @mixin fb {
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flexbox;
  	display: flex;
  }
  %flexbox { @include fb; }

  // inline
  @mixin fb-if {
  	display: -webkit-inline-box;
  	display: -webkit-inline-flex;
  	display: -moz-inline-flex;
  	display: -ms-inline-flexbox;
  	display: inline-flex;
  }
  %inline-flex { @include fb-if; }

  // direction
  @mixin fb-fd($value: row) {
  	@if $value == row-reverse {
  		-webkit-box-direction: reverse;
  		-webkit-box-orient: horizontal;
  	} @else if $value == column {
  		-webkit-box-direction: normal;
  		-webkit-box-orient: vertical;
  	} @else if $value == column-reverse {
  		-webkit-box-direction: reverse;
  		-webkit-box-orient: vertical;
  	} @else {
  		-webkit-box-direction: normal;
  		-webkit-box-orient: horizontal;
  	}
  	-webkit-flex-direction: $value;
  	-moz-flex-direction: $value;
  	-ms-flex-direction: $value;
  	flex-direction: $value;
  }

  // wrap
  @mixin fb-fw($value: nowrap) {
  	-webkit-flex-wrap: $value;
  	-moz-flex-wrap: $value;
  	@if $value == nowrap {
  		-ms-flex-wrap: none;
  	} @else {
  		-ms-flex-wrap: $value;
  	}
  	flex-wrap: $value;
  }

  // flow
  @mixin fb-ff($values: (row nowrap)) {
  	// No Webkit Box fallback.
  	-webkit-flex-flow: $values;
  	-moz-flex-flow: $values;
  	-ms-flex-flow: $values;
  	flex-flow: $values;
  }

  // order
  @mixin fb-o($int: 0) {
  	-webkit-box-ordinal-group: $int + 1;
  	-webkit-order: $int;
  	-moz-order: $int;
  	-ms-flex-order: $int;
  	order: $int;
  }

  // grow
  @mixin fb-fg($int: 0) {
  	-webkit-box-flex: $int;
  	-webkit-flex-grow: $int;
  	-moz-flex-grow: $int;
  	-ms-flex-positive: $int;
  	flex-grow: $int;
  }

  // shrink
  @mixin fb-fs($int: 1) {
  	-webkit-flex-shrink: $int;
  	-moz-flex-shrink: $int;
  	-ms-flex-negative: $int;
  	flex-shrink: $int;
  }

  // basis
  @mixin fb-fb($value: auto) {
  	-webkit-flex-basis: $value;
  	-moz-flex-basis: $value;
  	-ms-flex-preferred-size: $value;
  	flex-basis: $value;
  }

  // flex
  @mixin fb-f($fg: 1, $fs: null, $fb: null) {
  	$fg-boxflex: $fg;
  	@if type-of($fg) == 'list' {
  		$fg-boxflex: nth($fg, 1);
  	}
  	-webkit-box-flex: $fg-boxflex;
  	-webkit-flex: $fg $fs $fb;
  	-moz-box-flex: $fg-boxflex;
  	-moz-flex: $fg $fs $fb;
  	-ms-flex: $fg $fs $fb;
  	flex: $fg $fs $fb;
  }

  // justify content
  @mixin fb-jc($value: flex-start) {
  	@if $value == flex-start {
  		-webkit-box-pack: start;
  		-ms-flex-pack: start;
  	} @else if $value == flex-end {
  		-webkit-box-pack: end;
  		-ms-flex-pack: end;
  	} @else if $value == space-between {
  		-webkit-box-pack: justify;
  		-ms-flex-pack: justify;
  	} @else if $value == space-around {
  		-ms-flex-pack: distribute;
  	} @else {
  		-webkit-box-pack: $value;
  		-ms-flex-pack: $value;
  	}
  	-webkit-justify-content: $value;
  	-moz-justify-content: $value;
  	justify-content: $value;
  }
  @mixin fb-j($args...) { @include fb-j($args...); }

  // align items
  @mixin fb-ai($value: stretch) {
  	@if $value == flex-start {
  		-webkit-box-align: start;
  		-ms-flex-align: start;
  	} @else if $value == flex-end {
  		-webkit-box-align: end;
  		-ms-flex-align: end;
  	} @else {
  		-webkit-box-align: $value;
  		-ms-flex-align: $value;
  	}
  	-webkit-align-items: $value;
  	-moz-align-items: $value;
  	align-items: $value;
  }

  // align self
  @mixin fb-as($value: auto) {
  	// No Webkit Box Fallback.
  	-webkit-align-self: $value;
  	-moz-align-self: $value;
  	@if $value == flex-start {
  		-ms-flex-item-align: start;
  	} @else if $value == flex-end {
  		-ms-flex-item-align: end;
  	} @else {
  		-ms-flex-item-align: $value;
  	}
  	align-self: $value;
  }

  // content
  @mixin fb-ac($value: stretch) {
  	// No Webkit Box Fallback.
  	-webkit-align-content: $value;
  	-moz-align-content: $value;
  	@if $value == flex-start {
  		-ms-flex-line-pack: start;
  	} @else if $value == flex-end {
  		-ms-flex-line-pack: end;
  	} @else {
  		-ms-flex-line-pack: $value;
  	}
  	align-content: $value;
  }
