// layout

  // containers
  .container{
    width: 100%;
    max-width: $wd-lg;
    margin: 0 auto;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    @include mq-md{
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
    @include mq-sm{
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }

    &--no-pad{
      padding: 0;
    }
    @include mq-md{
      &--md-no-pad{
        padding: 0;
      }
    }
    @include mq-sm{
      &--sm-no-pad{
        padding: 0;
      }
    }
  }

  // sections
  .section{
    margin: 12.8rem 0;

    &__container{
      margin: 0 auto 3.2rem auto;
    }
    &__heading{
      margin: 0;
    }
  }

  // grid
  .grid{
    $block: '.grid';
    @include fb;
    @include fb-fw(wrap);
    margin: 0;

    // wrapping
    &--no-wrap{
      @include fb-fw(nowrap);
    }

    // gutters
    &--gutters-xsm{
      margin: 0 -1.6rem;

      #{$block}__col{
        padding: 0 1.6rem;
      }
    }
    &--gutters-sm{
      margin: 0 -2.4rem;

      #{$block}__col{
        padding: 0 2.4rem;
      }
    }
    &--gutters-md{
      margin: 0 -4.8rem;

      #{$block}__col{
        padding: 0 4.8rem;
      }
    }
    &--gutters-lg{
      margin: 0 -9.6rem;

      #{$block}__col{
        padding: 0 9.6rem;
      }
    }

    &__col{
      @include fb;
      padding: 0;

      // columns-width
      &--1-1{
        width: 100%;
      }
      &--1-2{
        width: 50%;
      }
      &--1-3{
        width: 33.33%;
      }
      &--2-3{
        width: 66.66%;
      }
      &--1-4{
        width: 25%;
      }
      &--2-4{
        width: 50%;
      }
      &--3-4{
        width: 75%;
      }
      &--1-5{
        width: 20%;
      }
      &--2-5{
        width: 40%;
      }
      &--3-5{
        width: 60%;
      }
      &--4-5{
        width: 80%;
      }
    }
  }
