// media

  //mobile
  $sm: 500px;
  @mixin mq-sm {
    @media (max-width: $sm){
      @content;
    }
  }

  // tablet portrait
  $md: 768px;
  @mixin mq-md {
    @media (max-width: $md){
      @content;
    }
  }

  // tablet landscape
  $lg: 1024px;
  @mixin mq-lg {
    @media (max-width: $lg){
      @content;
    }
  }

  // desktop (Bigger than tablet landscape)
  @mixin mq-xl {
    @media (min-width: $lg){
      @content;
    }
  }
