// typography

  // font face
  @font-face {
      font-family: 'Bembo';
      src: url('../../assets/fonts/Bembo.eot');
      src: url('../../assets/fonts/Bembo.eot?#iefix') format('embedded-opentype'),
          url('../../assets/fonts/Bembo.woff2') format('woff2'),
          url('../../assets/fonts/Bembo.woff') format('woff'),
          url('../../assets/fonts/Bembo.ttf') format('truetype'),
          url('../../assets/fonts/Bembo.svg#Bembo') format('svg');
  }
  @font-face {
      font-family: 'Circular-Bold';
      src: url('../../assets/fonts/Circular-Bold.eot');
      src: url('../../assets/fonts/Circular-Bold.eot?#iefix') format('embedded-opentype'),
          url('../../assets/fonts/Circular-Bold.woff2') format('woff2'),
          url('../../assets/fonts/Circular-Bold.woff') format('woff'),
          url('../../assets/fonts/Circular-Bold.ttf') format('truetype'),
          url('../../assets/fonts/Circular-Bold.svg#Circular-Bold') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Circular-Book';
      src: url('../../assets/fonts/Circular-Book.eot');
      src: url('../../assets/fonts/Circular-Book.eot?#iefix') format('embedded-opentype'),
          url('../../assets/fonts/Circular-Book.woff2') format('woff2'),
          url('../../assets/fonts/Circular-Book.woff') format('woff'),
          url('../../assets/fonts/Circular-Book.ttf') format('truetype'),
          url('../../assets/fonts/Circular-Book.svg#Circular-Book') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  // weighting
  @mixin fw-sm{
    font-family: $ff-bd-sm;
    font-weight: lighter;
  }
  @mixin fw-lg{
    font-family: $ff-bd-lg;
  }

  // sizing
  @mixin fs-sm{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  @mixin fs-md{
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  @mixin fs-lg{
    font-size: 1.8rem;
    line-height: 3rem;
  }
  @mixin fs-h3{
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  @mixin fs-h2{
    font-size: 3.4rem;
    line-height: 3.8rem;
  }
  @mixin fs-h1{
    font-size: 6rem;
    line-height: 6.4rem;
  }
  @mixin fs-xl{
    font-size: 8rem;
  }

  // set
  html{
    font-size: 62.5%;
    @include fw-sm;
    @include mq-md{
      font-size: 56.25%;
    }
  }

  // headings
  h1{
    @include fs-h1;
    font-family: $ff-hd;
    margin: 3.2rem 0;
  }
  h2{
    @include fs-h2;
    font-family: $ff-hd;
    margin: 3.2rem 0;
  }
  h3{
    @include fs-h3;
    @include fw-sm;
    margin: 2.4rem 0;
  }
  h4{
    @include fs-lg;
    margin: 2.4rem 0;
  }

  // accent
  .heading{
    &--accent{
      position: relative;
      padding-bottom: 1.6rem;

      &:after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: " ";
        background: $co-6;
        height: 1px;
        width: 4rem;
        @include mq-md{
          width: 4rem;
        }
      }
    }
  }

  // paragraphs
  p{
    @include fs-md;
    margin: 2.4rem 0;
    max-width: 53em;
    color: $co-bk-60;
  }

  // globals
  .fs-sm{
    @include fs-sm;
  }
  .fs-md{
    @include fs-md;
  }
  .fs-lg{
    @include fs-lg;
  }

  // icons
  .icon{
    &--sm{
      width: 1.8rem;
      height: 1.8rem;
    }
  }
