// variables

  // colors
  $co-1: #FFFFFF;
  $co-2: #EEEEEE;
  $co-3: #FCFAF5;
  $co-4: #F8F6F1;
  $co-5: #555555;
  $co-6: #2C2C2C;
  $co-7: #000000;
  $co-bk-05: rgba(0,0,0, .05);
  $co-bk-10: rgba(0,0,0, .1);
  $co-bk-20: rgba(0,0,0, .2);
  $co-bk-40: rgba(0,0,0, .4);
  $co-bk-60: rgba(0,0,0, .6);
  $co-bk-80: rgba(0,0,0, .8);
  $co-bk-100: rgba(0,0,0, 1);
  $co-wt-05: rgba(255,255,255, .05);
  $co-wt-10: rgba(255,255,255, .1);
  $co-wt-20: rgba(255,255,255, .2);
  $co-wt-40: rgba(255,255,255, .4);
  $co-wt-60: rgba(255,255,255, .6);
  $co-wt-80: rgba(255,255,255, .8);
  $co-wt-100: rgba(255,255,255, 1);

  // fonts
  $ff-hd: 'Bembo';
  $ff-bd-sm: 'Circular-Book';
  $ff-bd-lg: 'Circular-Bold';

  // widths
  $wd-sm: 468px;
  $wd-lg: 1440px;
