// main styles

  // imports
  @import
    "reset",
    "variable",
    "media",
    "flex",
    "typography",
    "layout",
    "mixin",
    "card"
  ;

  // body
  html, body, #root{
    height: 100%;
  }
  body{
    background: $co-3;
  }
  *, *:before, *:after {
    outline: none;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
  }
