html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

input, select, textarea {
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: value;
  appearance: value;
  border-radius: 0; }

@font-face {
  font-family: 'Bembo';
  src: url("../../assets/fonts/Bembo.eot");
  src: url("../../assets/fonts/Bembo.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Bembo.woff2") format("woff2"), url("../../assets/fonts/Bembo.woff") format("woff"), url("../../assets/fonts/Bembo.ttf") format("truetype"), url("../../assets/fonts/Bembo.svg#Bembo") format("svg"); }

@font-face {
  font-family: 'Circular-Bold';
  src: url("../../assets/fonts/Circular-Bold.eot");
  src: url("../../assets/fonts/Circular-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Circular-Bold.woff2") format("woff2"), url("../../assets/fonts/Circular-Bold.woff") format("woff"), url("../../assets/fonts/Circular-Bold.ttf") format("truetype"), url("../../assets/fonts/Circular-Bold.svg#Circular-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Book';
  src: url("../../assets/fonts/Circular-Book.eot");
  src: url("../../assets/fonts/Circular-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Circular-Book.woff2") format("woff2"), url("../../assets/fonts/Circular-Book.woff") format("woff"), url("../../assets/fonts/Circular-Book.ttf") format("truetype"), url("../../assets/fonts/Circular-Book.svg#Circular-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%;
  font-family: "Circular-Book";
  font-weight: lighter; }
  @media (max-width: 768px) {
    html {
      font-size: 56.25%; } }

h1 {
  font-size: 6rem;
  line-height: 6.4rem;
  font-family: "Bembo";
  margin: 3.2rem 0; }

h2 {
  font-size: 3.4rem;
  line-height: 3.8rem;
  font-family: "Bembo";
  margin: 3.2rem 0; }

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Circular-Book";
  font-weight: lighter;
  margin: 2.4rem 0; }

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 2.4rem 0; }

.heading--accent {
  position: relative;
  padding-bottom: 1.6rem; }
  .heading--accent:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    background: #2C2C2C;
    height: 1px;
    width: 4rem; }
    @media (max-width: 768px) {
      .heading--accent:after {
        width: 4rem; } }

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 2.4rem 0;
  max-width: 53em;
  color: rgba(0, 0, 0, 0.6); }

.fs-sm {
  font-size: 1.4rem;
  line-height: 2.2rem; }

.fs-md {
  font-size: 1.6rem;
  line-height: 2.6rem; }

.fs-lg {
  font-size: 1.8rem;
  line-height: 3rem; }

.icon--sm {
  width: 1.8rem;
  height: 1.8rem; }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 4.8rem;
  padding-right: 4.8rem; }
  @media (max-width: 768px) {
    .container {
      padding-left: 2.4rem;
      padding-right: 2.4rem; } }
  @media (max-width: 500px) {
    .container {
      padding-left: 1.6rem;
      padding-right: 1.6rem; } }
  .container--no-pad {
    padding: 0; }
  @media (max-width: 768px) {
    .container--md-no-pad {
      padding: 0; } }
  @media (max-width: 500px) {
    .container--sm-no-pad {
      padding: 0; } }

.section {
  margin: 12.8rem 0; }
  .section__container {
    margin: 0 auto 3.2rem auto; }
  .section__heading {
    margin: 0; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0; }
  .grid--no-wrap {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
  .grid--gutters-xsm {
    margin: 0 -1.6rem; }
    .grid--gutters-xsm .grid__col {
      padding: 0 1.6rem; }
  .grid--gutters-sm {
    margin: 0 -2.4rem; }
    .grid--gutters-sm .grid__col {
      padding: 0 2.4rem; }
  .grid--gutters-md {
    margin: 0 -4.8rem; }
    .grid--gutters-md .grid__col {
      padding: 0 4.8rem; }
  .grid--gutters-lg {
    margin: 0 -9.6rem; }
    .grid--gutters-lg .grid__col {
      padding: 0 9.6rem; }
  .grid__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    .grid__col--1-1 {
      width: 100%; }
    .grid__col--1-2 {
      width: 50%; }
    .grid__col--1-3 {
      width: 33.33%; }
    .grid__col--2-3 {
      width: 66.66%; }
    .grid__col--1-4 {
      width: 25%; }
    .grid__col--2-4 {
      width: 50%; }
    .grid__col--3-4 {
      width: 75%; }
    .grid__col--1-5 {
      width: 20%; }
    .grid__col--2-5 {
      width: 40%; }
    .grid__col--3-5 {
      width: 60%; }
    .grid__col--4-5 {
      width: 80%; }

.card {
  background: #FFFFFF; }
  .card--pd-sm {
    padding: 2.4rem; }
  .card--pd-md {
    padding: 4.8rem; }
  .card--pd-lg {
    padding: 9.6rem; }

.offset {
  z-index: 1;
  position: absolute; }
  .offset--tl-sm {
    top: -2.4rem;
    left: -2.4rem; }
  .offset--tl-md {
    top: -4.8rem;
    left: -4.8rem; }
    @media (max-width: 768px) {
      .offset--tl-md {
        top: -2.4rem;
        left: -2.4rem; } }
  .offset--tr-sm {
    top: -2.4rem;
    right: -2.4rem; }
  .offset--tr-md {
    top: -4.8rem;
    right: -4.8rem; }
    @media (max-width: 768px) {
      .offset--tr-md {
        top: -2.4rem;
        right: -2.4rem; } }
  .offset--bl-sm {
    bottom: -2.4rem;
    left: -2.4rem; }
  .offset--bl-md {
    bottom: -4.8rem;
    left: -4.8rem; }
    @media (max-width: 768px) {
      .offset--bl-md {
        bottom: -2.4rem;
        left: -2.4rem; } }
    @media (max-width: 500px) {
      .offset--bl-md {
        bottom: -1.6rem;
        left: -1.6rem; } }

html, body, #root {
  height: 100%; }

body {
  background: #FCFAF5; }

*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box; }
