// buttons

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography",
    "../../assets/scss/mixin"
  ;

  .btn{
    background: transparent;
    border: 1px solid $co-bk-10;
    color: $co-6;
    padding: 1.6rem 2.4rem;
    cursor: pointer;
    position: relative;
    @include fw-sm;
    @include fs-md;
    @include fb;
    @include fb-ai(center);

    &--cta{
      color: $co-1;
      background: $co-7;
    }
    &--ghost{
      border: 0;
      padding: 0;
    }
    &--alt{
      color: $co-wt-80;
      border-color: $co-wt-20;
    }
    &__icon{
      margin-left: 4rem;
    }
  }
