// blog-list

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  $blog-spacing: 4.8rem;

  .blog-list{
    &__container{

    }
    &__posts{
    }
    &__image-container{
      width: 100%;
      min-height: calc(486px + 4.8rem);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right top;
      position: relative;
      background: $co-bk-05 !important; // remove when content in
      margin-top: 8rem;
    }
  }
