// location

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .location{

    &__container{
      @include fb;
      @include fb-jc(space-between);
      @include fb-ai(center);
      @include mq-md{
        @include fb-ai(flex-start);
        @include fb-jc(flex-start);
        @include fb-fd(column);
      }
    }
    &__heading{
      margin-bottom: 0;
    }
    &__select{
      max-width: 40rem;
      margin: 0;
      @include mq-md{
        max-width: 100%;
        margin-top: 3.2rem;
      }
    }
    &__map-container{
      position: relative;
    }
    &__map{
      background: $co-bk-05;
      min-height: 64rem;
      @include mq-md{
        min-height: 48rem;
      }
    }
    &__list{
      position: absolute;
      z-index: 1;
      bottom: 0rem;
      padding: 2.4rem;
      @include fb;
      @include mq-md{
        position: relative;
        padding: 0;
        @include fb-fw(wrap);
        left: -2.4rem;
        top: -2.4rem;
      }
      @include mq-sm{
        left: -1.6rem;
        top: -1.6rem;
      }
    }
  }

  // campus
  .campus{
    @include fb;
    
    padding: 2.4rem;
    @include mq-md{
      background: $co-1;
      border: 1px solid $co-3;
      width: 50%;
    }
    @include mq-sm{
      width: 100%;
    }

    &__abbr{
      @include fs-sm;
    }
    &__details{
      @include fb;
      @include fb-ai(center);
      margin-top: .8rem;
    }
    &__heading{
      margin: 0;
    }
    &__icon{
      display: none;
      @include mq-md{
        display: block;
      }
    }
  }
