// hero

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .hero{
    height: 100%;
    max-height: 80rem;

    &__container{
      height: 100%;
      padding-bottom: 4.8rem;
      @include mq-md{
        padding-bottom: 2.4rem;
      }
      @include mq-md{
        padding: 0 0 0 1.6rem !important;
      }
    }
    &__image-container{
      height: 100%;
      position: relative;
      padding-bottom: 4.8rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background: $co-bk-05 !important; // remove this when content
      @include mq-md{
        padding-bottom: 2.4rem;
      }
      @include mq-sm{
        padding-bottom: 1.6rem;
      }
    }
    &__apply{
    }
    &__card{
      max-width: 40%;
      height: 100%;
      @include fb;
      @include fb-ai(center);
      @include mq-md{
        max-width: 50%;
      }
      @include mq-sm{
        height: auto;
        max-width: 100%;
      }
    }
    &__heading{
      margin-top: 0;
    }
    &__btn{
      margin-top: 3.2rem;
    }
    &__shapes{
      display: none;
    }
  }
