// app

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .app{
    height: 100%;
    padding-top: 119px;
    @include mq-md{
      padding-top: 88px;
    }
  }
