// program

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography",
    "../../assets/scss/mixin"
  ;

  .program{
    overflow: hidden;
    position: relative;
    border: 1px solid $co-3;
    min-height: 40rem;
    @include fb;
    @include fb-ai(center);

    &__heading{
      margin-top: 0;
    }
    &__btn{
      margin-top: 2.4rem;
    }
  }
