// event

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography",
    "../../assets/scss/mixin"
  ;

  $event-spacing: 4rem;

  .event{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 30rem $event-spacing 0 0;
    @include fb;
    @include fb-ai(flex-end);

    .card{
      width: 100%;
      margin-bottom: -$event-spacing;
      @include fb;
      @include fb-fd(column);
      @include fb-jc(space-between);

      .date{
        @include fs-xl;
        margin-bottom: .8rem;
      }
      .month{
        @include fs-md;
      }
      .details{
        margin-top: 8rem;

        .category{
          @include fs-md;
          color: $co-bk-40;
          margin-bottom: .8rem;
        }
        .title{
          margin: 0;
        }
      }
    }
  }
