// header

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .header{
    background: $co-3;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    @include mq-md{
      position: fixed;
    }

    &__container{
      @include fb;
      @include fb-ai(center);
      @include fb-jc(space-between);
    }
    &__branding{
      @include fb;
      @include fb-ai(center);
      max-width: 13rem;
      padding: 2.4rem 0;
      @include mq-md{
        padding: 1.6rem 0;
        max-width: 12rem;
      }
    }
    &__logo{
      width: 100%;
    }
    &__nav{
      margin: 0 -1.6rem;
      @include fb;
      @include fb-ai(center);
      @include mq-md{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $co-3;
        margin: 0;
        @include fb;
        @include fb-jc(center);
        @include fb-fd(column);
        opacity: 0;
        pointer-events: none;

        &--visible{
          opacity: 1;
        }
      }
      &-item{
        @include fs-md;
        padding: 1.6rem;
        cursor: pointer;
      }
      &-close{
        display: none;
        @include mq-md{
          display: block;
        }
      }
    }
    &__nav-burger{
      display: none;
      @include mq-md{
        display: block;
      }
    }
  }
