// footer

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .footer{
    background: $co-6;
    padding: 12.8rem;

    &__container{
      @include fb;
      @include fb-jc(space-between);
      @include fb-ai(center);

      &--bottom{
        padding-top: 3.2rem;
        @include fb-ai(flex-end);
      }
    }
    &__nav{
      &-item{
        @include fs-md;
        color: $co-wt-80;
      }
    }
    &__legal p{
      margin: 0;
      color: $co-wt-20;

      &:nth-of-type(2){
        margin-top: 3.2rem;
      }
    }
    &__icon{
      color: $co-wt-80;
    }
  }
