@font-face {
  font-family: 'Bembo';
  src: url("../../assets/fonts/Bembo.eot");
  src: url("../../assets/fonts/Bembo.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Bembo.woff2") format("woff2"), url("../../assets/fonts/Bembo.woff") format("woff"), url("../../assets/fonts/Bembo.ttf") format("truetype"), url("../../assets/fonts/Bembo.svg#Bembo") format("svg"); }

@font-face {
  font-family: 'Circular-Bold';
  src: url("../../assets/fonts/Circular-Bold.eot");
  src: url("../../assets/fonts/Circular-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Circular-Bold.woff2") format("woff2"), url("../../assets/fonts/Circular-Bold.woff") format("woff"), url("../../assets/fonts/Circular-Bold.ttf") format("truetype"), url("../../assets/fonts/Circular-Bold.svg#Circular-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Book';
  src: url("../../assets/fonts/Circular-Book.eot");
  src: url("../../assets/fonts/Circular-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Circular-Book.woff2") format("woff2"), url("../../assets/fonts/Circular-Book.woff") format("woff"), url("../../assets/fonts/Circular-Book.ttf") format("truetype"), url("../../assets/fonts/Circular-Book.svg#Circular-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%;
  font-family: "Circular-Book";
  font-weight: lighter; }
  @media (max-width: 768px) {
    html {
      font-size: 56.25%; } }

h1 {
  font-size: 6rem;
  line-height: 6.4rem;
  font-family: "Bembo";
  margin: 3.2rem 0; }

h2 {
  font-size: 3.4rem;
  line-height: 3.8rem;
  font-family: "Bembo";
  margin: 3.2rem 0; }

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Circular-Book";
  font-weight: lighter;
  margin: 2.4rem 0; }

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 2.4rem 0; }

.heading--accent {
  position: relative;
  padding-bottom: 1.6rem; }
  .heading--accent:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    background: #2C2C2C;
    height: 1px;
    width: 4rem; }
    @media (max-width: 768px) {
      .heading--accent:after {
        width: 4rem; } }

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 2.4rem 0;
  max-width: 53em;
  color: rgba(0, 0, 0, 0.6); }

.fs-sm {
  font-size: 1.4rem;
  line-height: 2.2rem; }

.fs-md {
  font-size: 1.6rem;
  line-height: 2.6rem; }

.fs-lg {
  font-size: 1.8rem;
  line-height: 3rem; }

.icon--sm {
  width: 1.8rem;
  height: 1.8rem; }

.blog {
  overflow: hidden;
  position: relative;
  border: 1px solid #FCFAF5;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .blog__category {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.6rem;
    line-height: 2.6rem; }
  .blog__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 2.4rem 0 0; }
  .blog__heading {
    margin: 0; }
  .blog__icon {
    margin-left: 4rem; }
