// blog

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography",
    "../../assets/scss/mixin"
  ;

  .blog{
    overflow: hidden;
    position: relative;
    border: 1px solid $co-3;
    @include ts(.2s);

    &__category{
      color: $co-bk-40;
      @include fs-md;
    }
    &__main{
      @include fb;
      @include fb-jc(space-between);
      @include fb-ai(center);
      margin: 2.4rem 0 0;
    }
    &__heading{
      margin: 0;
    }
    &__icon{
      margin-left: 4rem;
    }
  }
