// map

  // imports
  @import
    "../../assets/scss/variable",
    "../../assets/scss/media",
    "../../assets/scss/flex",
    "../../assets/scss/typography"
  ;

  .map{
    width: 100%;
    background: $co-bk-05;
    height: 500px;
  }
